.headeka{

padding-top: 2px;
color: white;
font-size: 15px;
font-style: bold;
text-align: left;
padding-left: 20px;




}

.wrapper{

background-color: orange; 
margin-bottom: auto;


}

.logo{

float: right;
height: 2px;
padding-right: 4px; 


}

.next{

 margin-top: 0px;
 width auto;
 height: auto;
 background-color: grey;


}

.register{

padding-top: 1px;
text-align: right;
padding-right:276px;
color: white;



}

form{


padding-right: 200px;
float: right;
margin-bottom: 5px;
}

input{

width: 250px;
height: 34px;
margin-bottom: 10px; 


}


input[type="submit"]{

margin-top: 10px;
width: 255px; 	
height: 34px;

font-style: italic;
color: black;


}


.dis{

float: left;
padding-top: 60px;
font-style: italic;

padding-left: 20px;
color: white;
padding-bottom: 0px;

font-size: 20px;


}

.ei{

margin-top:210px;
height: auto; 
background-color: red;
}

.second{

padding-top: 10px;
color: white;
font-size: 20px;

text-align: right;
padding-right: 20px;
padding-bottom: 10px;

font-family: unset;



}